.idea/
Results
__pycache__/
from_xml_tokens.pk
so_data/Posts.xml
so_data/data_release.tar.gz
so_data/data_release/
so_data/dev.txt
so_data/formatted_so_train_1.txt
so_data/plots/
so_data/posts_texts/
so_data/so_test_entity_counts.csv
so_data/so_test_entity_counts_temporal.csv
so_data/so_train_entity_counts.csv
so_data/so_train_entity_counts_temporal.csv
so_data/stackoverflow.com-Posts.7z
so_data/test.txt
so_data/train.txt
so_data/train_merged_labels.txt
venv/
